<!DOCTYPE html>
<html ng-app="linkCollaborator">
<head lang="pl">
    <meta charset="utf-8">

    <title>Link Collaborator</title>
    <meta name="description" content="Link Collaborator">
    <meta name="author" content="Damian Szymczuk">
    <link rel="stylesheet" href="css/tw_bootstrap.css?v=1.0">
    <link rel="stylesheet" href="css/style.css?v=1.0">
    <script src="js/jQuery/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/app/app.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container margin-top-30" ng-controller="AppController">
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <form name="linkadd">
                    <div class="form-group">
                        <label for="link">Link</label>
                        <input ng-model="linkadd.url" type="url" class="form-control" id="link" placeholder="Enter the link">
                    </div>
                    <div class="form-group">
                        <label for="categories">Categories</label>
                        <input ng-model="linkadd.categories" type="text" class="form-control" id="categories" placeholder="Categories">
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <input ng-model="linkadd.tags" type="text" class="form-control" id="tags" placeholder="Tags">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea ng-model="linkadd.description" class="form-control" id="description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" ng-click="addLink()">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>
</div>

</body>
</html>